<div class="bottom-section row">
   		<div class="col-sm-9 lft-side container">
   			<div class="col-sm-10 col-sm-offset-1 mildDarkTxt jumbotron">
			  <h3>Build Your Tutorial</h3>
			  <div class="addBox">
			  		<select>
			  			<option>Select Options</option>
			  			<option>Level 1 Heading</option>
			  			<option>Level 2 Heading</option>
			  			<option>Level 3 Heading</option>
			  		</select>
			  		<span class="glyphicon glyphicon-plus"></span> 
			  </div>
			</div>
   		</div>
   		<div class="col-sm-3 rgt-side">
 
   		</div>
   	</div>