<section class="container-fluid top-section">
   		<div class="group-tiles row tag">
   				<a class="tile" href="#/tutorials/{{model._id}}" ng-repeat="tag in homePageTags">
	   				{{tag}}
   				</a>
   			</div>
   	</section>
   	
   <!-- 	<div class="svg-tut row">
   		Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In 
		<img alt="Web Concept" src="/img/tutsSvg.svg" class="col-xs-8 col-xs-offset-2 col-lg-3 col-lg-offset-4">
   	</div> -->
   	
   	<div class="bottom-section row">
   		 <div class="group-tiles row initialTile">
   				<a class="tile curtain" href="#/tutorials/{{model._id}}" ng-repeat="model in models | limitTo  :10">
	   				<div class="curtain__wrapper">
					    <div class="curtain__panel curtain__panel--left">
						      <h3>{{model.mainheading}}</h3>
						    </div>
						    
						    <div class="curtain__content">
						      <p>{{model.desc}}</p>
						    </div>
						    
						  <div class="curtain__panel curtain__panel--right">
						 </div> 
				  </div>
   				</a>
   			</div>
   	</div>
   	
   	
   	<div class="curtain">
  		
    </div>