<section class="container-fluid top-section">
   		<div class="group-tiles row tag">
   				<a class="tile" href="#/tutorials/{{model._id}}" ng-repeat="tag in homePageTags">
	   				{{tag}}
   				</a>
   			</div>
   	</section>
   	
   <!-- 	<div class="svg-tut row">
   		Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In 
		<img alt="Web Concept" src="/img/tutsSvg.svg" class="col-xs-8 col-xs-offset-2 col-lg-3 col-lg-offset-4">
   	</div> -->
   	
   	<div class="bottom-section row">
   		 <div class="group-tiles row initialTile">
   				<a class="tile" href="#/tutorials/{{model._id}}" ng-repeat="model in models | limitTo  :10">
	   				<h3>{{model.mainheading}}</h3>
	   				<p>{{model.desc}}</p>
   				</a>
   			</div>
   	</div>