<section class="container-fluid top-section">
   		<div class="group-tiles row">
   				<a class="tile" href="#" ng-repeat="model in models | limitTo  :10">
	   				<h3>{{model.mainheading}}</h3>
	   				<p>{{model.desc}}</p>
   				</a>
   			</div>
   	</section>
   	
   	<div class="svg-tut row">
   		<!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In  -->
		<img alt="Web Concept" src="/img/tutsSvg.svg" class="col-xs-8 col-xs-offset-2 col-lg-3 col-lg-offset-4">
   	</div>
   	
   	<div class="bottom-section row">
   		<div class="col-sm-2 lft-side">
   			<ul class="nav of nav-stacked">
              <li class="tq">Category</li>
              <li class="active"  ng-repeat="category in categories">
                <a href="#" ng-click="loadList(category)">{{category}}</a>
              </li>
            </ul>	
   		</div>
   		<div class="col-sm-10 rgt-side">
   			<div class="col-sm-10 "  ng-repeat="model in models |filter :catFilter | limitTo  :10 ">
   				<a href="$" >
	   				<h3>{{model.mainheading}}</h3>
	   				<p>{{model.desc}}</p>
   				</a>
   			</div>
   			<p class="col-sm-10 "><a href="#/catList">More</a></p>
   		</div>
   	</div>