<div class="bottom-section row">
   		<div class="col-sm-2 lft-side">
   			<ul class="nav of nav-stacked">
              <li class="tq">Navigation</li>
              <li class="active">
                <a href="#">Intro</a>
              </li>
              <li class="active">
                <a href="#">Heading1</a>
              </li>
              <li class="active">
                <a href="#">Heading2</a>
              </li>
              
            </ul>
   		</div>
   		<div class="col-sm-10 rgt-side">
   			<div class="col-sm-10 ">
   				<a href="@">
	   				<h3>Title 1</h3>
	   				<p>Awesome Tutorial</p>
   				</a>
   			</div>
   		</div>
   	</div>