<div class="bottom-section row">
   		<div class="col-sm-2 lft-side">
   			<ul class="nav of nav-stacked pos-fixed">
              <li class="tq">Navigation</li>
              <li class=""  ng-repeat="eachNav in sideNav">
                <a href=""  ng-click="scrollTo(eachNav.hrefVal)">{{eachNav.val}}</a>
              </li>             
            </ul>
   		</div>
   		<div class="col-sm-9 whiteBg tutsDetailDiv">
   			<div class="col-sm-12">
   				<h3>{{tutsDetails.mainheading}}</h3>
   				<h4>{{tutsDetails.desc}}</h4>
   			</div>
   			 <div class="clearfix visible-xs-block"></div>
   			<div ng-repeat="tutsDetail in tutsDetails.content " class="col-sm-12 ">
   				<div ng-bind-html="tutsDetail|html"></div>
   			</div>
   		</div>
   	</div>